<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="ir.taravatgroup.shokrgozari"
	android:versionCode="1"
	android:versionName="1"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
		 <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	                            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<application
		android:icon="@drawable/icon"
		android:label="شکرگزاری"
		android:theme="@style/LightTheme"
		android:requestLegacyExternalStorage="true">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".tamrin_roz_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".book_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".tamrinat_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".tamrin14_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".tamrin8_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".do_tamrin_roz_layout"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".download_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".intro_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".reagbook_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".setting_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<service
			android:name=".starter"
			android:exported="true">
		</service>
		<receiver
			android:name=".starter$starter_BR"
			android:exported="true">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".tamrin13_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".tamrin3_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".tamrin16_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".tamrin19_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".tamrin25_activity"
			android:label="شکرگزاری"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<receiver
			android:name=".httputils2service"
			android:exported="true">
		</receiver>
	</application>
</manifest>